{% extends "meetchatandplayHomeHomeBundle::layout_meet.html.twig" %}

{% block title %}
 {{ parent() }}
{% endblock %}

{% block body_content %}
	<table border = "1" width = "150px" height = "150px" style = "margin-left: 15px; position: fixed;">
		<tr>
			<td>
				{% set limit = date|date("i") - 10 %}
				{% if (profil.meetDerniereConnexion|date("d/m/Y") is sameas(date|date("d/m/Y"))) and (profil.meetDerniereConnexion|date("H") is sameas(date|date("H"))) and (profil.meetDerniereConnexion|date("i") > limit) %}
					<span id = "connecte" style = "position: fixed; margin-left: 120px; margin-top: 115px; font-size: 12px;"><ul style = "font-size: 30px;"><li>&nbsp;</li></ul></span>
				{% endif %}
				{% if profil.pseudo is not sameas("SirGladius") and profil.meetPhotoProfil is null %}
					<center>
						<img src='{{ asset("img/heart.jpg") }}' width = "146px" height = "146px" }}' />
					</center>
				{% else %}
					{% if profil.pseudo is sameas("SirGladius") and profil.meetPhotoProfil is not null %}
						<center>
							<img src='{{ asset("img/heart.jpg") }}' width = "146px" height = "146px" }}' />
						</center>
					{% else %}
						<center>
							<img src='{{ asset("img/Fabien.jpg") }}' width = "146px" height = "146px" />
						</center>
					{% endif %}
				{% endif %}
			</td>
		</tr>
	</table>
	<table border = "1" width = "816px" height = "150px" style = "margin-left: 165px;">
		<tr>
			<td>
				{% if profil.pseudo is not sameas("SirGladius") and profil.meetPhotoCouverture is null %}
					<center>
						<img src='{{ asset("img/come_and_meet_me.jpg") }}' width = "812px" height = "146px" }}' />
					</center>
				{% else %}
					{% if profil.pseudo is sameas("SirGladius") and profil.meetPhotoCouverture is not null %}
						<center>
							<img src='{{ asset("img/come_and_meet_me.jpg") }}' width = "812px" height = "146px" }}' />
						</center>
					{% else %}
						<center>
							<img src='{{ asset("img/Couverture_Fabien.jpg") }}' width = "812px" height = "146px" />
						</center>
					{% endif %}
				{% endif %}
			</td>
		</tr>
	</table>
	<table border = "1" width = "150px" height = "335px" style = "margin-left: 15px; position: fixed;">
		<tr>
			<td>
				<center>
					<h5><b style = "font-family: Segoe Script; color:darkblue;" title = "{{ profil.pseudo }}">{{ profil.pseudo }}</b></h5>
					<div style = "margin-top: 15px;"></div>
					{% if profil.pseudo is not sameas("SirGladius") %}
						<img class = "image_grade_profile" src='{{ asset("img/"~profil.meetGradeLienImage~".png") }}' title="{{ profil.meetGrade }} - {{ profil.meetPoints }} points Meet obtenus" />
					{% else %}
						<img class = "image_grade_profile" src='{{ asset("img/"~profil.meetGradeLienImage~"_Createur.png") }}' title="{{ profil.meetGrade }} Créateur - {{ profil.meetPoints }} points Meet obtenus" />
					{% endif %}<br>
					<div style = "margin-top: 25px;"></div>
					<b>Médailles obtenues</b><br>
					<div style = "margin-top: 8px;"></div>
					
					{% if medaille is defined %}
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" style = "margin-right: 5px;"/>
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" style = "margin-right: 5px;" />
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" /><br>
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" style = "margin-right: 5px;"/>
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" style = "margin-right: 5px;" />
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" /><br>
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" style = "margin-right: 5px;"/>
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" style = "margin-right: 5px;" />
					<img class = "medaille" src='{{ asset("img/medaille.png") }}' title="" /><br>
					<div style = "margin-top: 25px;"></div>
					{% else %}
						<font color = "red">Aucune</font><br>
						<div style = "margin-top: 25px;"></div>
					{% endif %}
					<b>Dernière connexion</b>
					<div style = "margin-top: 8px;"></div>
					{% set limit = date|date("i") - 10 %}
					{% if (profil.meetDerniereConnexion|date("i") + 10) < 60 %}
						{% set leave = profil.meetDerniereConnexion|date("i") + 10 %}
						{% if (profil.meetDerniereConnexion|date("d/m/Y") is sameas(date|date("d/m/Y"))) and (profil.meetDerniereConnexion|date("H") is sameas(date|date("H"))) and (profil.meetDerniereConnexion|date("i") > limit) %}
							<font color = "red">Connecté</font>
						{% else %}
							<font color = "red">{{ profil.meetDerniereConnexion|date("d/m/Y") }} à {{ profil.meetDerniereConnexion|date("H") }}:{{ leave }}</font>
						{% endif %}
					{% else %}
						{% set h = profil.meetDerniereConnexion|date("H") + 1 %}
						{% set leave = (profil.meetDerniereConnexion|date("i") + 10) - 60 %}
						{% if (profil.meetDerniereConnexion|date("d/m/Y") is sameas(date|date("d/m/Y"))) and (profil.meetDerniereConnexion|date("H") is sameas(date|date("H"))) and (profil.meetDerniereConnexion|date("i") > limit) %}
							<font color = "red">Connecté</font>
						{% else %}
							<font color = "red">{{ profil.meetDerniereConnexion|date("d/m/Y") }} à {{ h }}:0{{ leave }}</font>
						{% endif %}
					{% endif %}
				</center>
			</td>
		</tr>
	</table>
	<table border = "1" width = "816px" height = "335px" style = "margin-left: 165px;">
		<tr>
			<td>
				<center>
					<div id="tabs">
						<ul>
							<li><a href="#tabs-1">Nunc tincidunt</a></li>
							<li><a href="#tabs-2">Proin dolor</a></li>
							<li><a href="#tabs-3">Aenean lacinia</a></li>
						</ul>
						<div id="tabs-1" style = "min-height: 283px;">
							<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
						</div>
						<div id="tabs-2" style = "min-height: 283px;">
							<p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
						</div>
						<div id="tabs-3" style = "min-height: 283px;">
							<p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
							<p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
						</div>
					</div>
				</center>
			</td>
		</tr>
	</table>
{% endblock %}